In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Resources/nba_2017_attendance.csv")

In [3]:
df

                      TEAM  GMS   TOTAL    AVG    PCT
0            Chicago Bulls   41  888882  21680  103.6
1         Dallas Mavericks   41  811366  19789  103.1
2         Sacramento Kings   41  721928  17608  100.6
3               Miami Heat   41  805400  19643  100.2
4          Toronto Raptors   41  813050  19830  100.2
5     Los Angeles Clippers   41  782609  19088  100.1
6      Cleveland Cavaliers   41  843042  20562  100.0
7    Golden State Warriors   41  803436  19596  100.0
8    Oklahoma City Thunder   41  746323  18203  100.0
9          New York Knicks   41  810741  19774   99.8
10          Boston Celtics   41  760690  18553   99.6
11      Los Angeles Lakers   41  776917  18949   99.4
12  Portland Trail Blazers   41  792029  19317   99.4
13       San Antonio Spurs   41  755347  18423   99.2
14               Utah Jazz   41  806605  19673   98.8
15           Orlando Magic   41  727875  17753   94.2
16    New Orleans Pelicans   41  663099  16173   94.1
17         Houston Rockets   41  695903  16973   94.1
18            Phoenix Suns   41  708639  17283   93.8
19          Indiana Pacers   41  684578  16697   91.9
20       Memphis Grizzlies   41  677314  16519   91.2
21       Charlotte Hornets   41  710643  17332   90.9
22      Philadelphia 76ers   41  710557  17330   85.3
23           Atlanta Hawks   41  654306  15958   85.2
24           Brooklyn Nets   41  632608  15429   85.2
25         Milwaukee Bucks   41  648952  15828   84.6
26      Washington Wizards   41  697107  17002   83.8
27          Denver Nuggets   41  605585  14770   77.1
28  Minnesota Timberwolves   41  607203  14809   76.5
29         Detroit Pistons   41  655141  15979   72.4

In [6]:
df1 = df.drop(columns=['PCT'])

In [7]:
df1

                      TEAM  GMS   TOTAL    AVG
0            Chicago Bulls   41  888882  21680
1         Dallas Mavericks   41  811366  19789
2         Sacramento Kings   41  721928  17608
3               Miami Heat   41  805400  19643
4          Toronto Raptors   41  813050  19830
5     Los Angeles Clippers   41  782609  19088
6      Cleveland Cavaliers   41  843042  20562
7    Golden State Warriors   41  803436  19596
8    Oklahoma City Thunder   41  746323  18203
9          New York Knicks   41  810741  19774
10          Boston Celtics   41  760690  18553
11      Los Angeles Lakers   41  776917  18949
12  Portland Trail Blazers   41  792029  19317
13       San Antonio Spurs   41  755347  18423
14               Utah Jazz   41  806605  19673
15           Orlando Magic   41  727875  17753
16    New Orleans Pelicans   41  663099  16173
17         Houston Rockets   41  695903  16973
18            Phoenix Suns   41  708639  17283
19          Indiana Pacers   41  684578  16697
20       Memphis Grizzlies   41  677314  16519
21       Charlotte Hornets   41  710643  17332
22      Philadelphia 76ers   41  710557  17330
23           Atlanta Hawks   41  654306  15958
24           Brooklyn Nets   41  632608  15429
25         Milwaukee Bucks   41  648952  15828
26      Washington Wizards   41  697107  17002
27          Denver Nuggets   41  605585  14770
28  Minnesota Timberwolves   41  607203  14809
29         Detroit Pistons   41  655141  15979

In [10]:
nba_2017_attendance_df = df1.rename(columns={"TEAM": "Team", "GMS": "Games", "TOTAL":"Total", "AVG":"Average"})

In [11]:
nba_2017_attendance_df

                      Team  Games   Total  Average
0            Chicago Bulls     41  888882    21680
1         Dallas Mavericks     41  811366    19789
2         Sacramento Kings     41  721928    17608
3               Miami Heat     41  805400    19643
4          Toronto Raptors     41  813050    19830
5     Los Angeles Clippers     41  782609    19088
6      Cleveland Cavaliers     41  843042    20562
7    Golden State Warriors     41  803436    19596
8    Oklahoma City Thunder     41  746323    18203
9          New York Knicks     41  810741    19774
10          Boston Celtics     41  760690    18553
11      Los Angeles Lakers     41  776917    18949
12  Portland Trail Blazers     41  792029    19317
13       San Antonio Spurs     41  755347    18423
14               Utah Jazz     41  806605    19673
15           Orlando Magic     41  727875    17753
16    New Orleans Pelicans     41  663099    16173
17         Houston Rockets     41  695903    16973
18            Phoenix Suns     41  708639    17283
19          Indiana Pacers     41  684578    16697
20       Memphis Grizzlies     41  677314    16519
21       Charlotte Hornets     41  710643    17332
22      Philadelphia 76ers     41  710557    17330
23           Atlanta Hawks     41  654306    15958
24           Brooklyn Nets     41  632608    15429
25         Milwaukee Bucks     41  648952    15828
26      Washington Wizards     41  697107    17002
27          Denver Nuggets     41  605585    14770
28  Minnesota Timberwolves     41  607203    14809
29         Detroit Pistons     41  655141    15979